@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #414141;
}

h1 {
    font-family: 'Roboto';
    font-size: 2.5rem;
    /* 40px */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #FFF;
    text-align: center;
}

h2 {
    color: #FFF;
    font-family: Roboto;
    font-size: 2.25rem;
    /* 36px */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h3 {
    color: #FFF;
    font-family: Roboto;
    font-size: 2rem;
    /* 32px */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h4 {
    color: #FFF;
    font-family: Roboto;
    font-size: 1.75rem;
    /* 28px */
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h5 {
    color: #FFF;
    font-family: Roboto;
    font-size: 1.5rem;
    /* 24px */
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h6 {
    color: #FFF;
    font-family: Roboto;
    font-size: 1.25rem;
    /* 20px */
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#navbar {
    display: flex;
    padding: 0.5rem 6.75rem;
    /* 8px 108px */
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background-color: #414141;
    padding-right: clamp(1rem, 5vw, 6.75rem);
    /* 16px, 5vw, 108px */
    padding-left: clamp(1rem, 5vw, 6.75rem);
    /* 16px, 5vw, 108px */
    font-family: 'Roboto', Arial, sans-serif;
}

#navbar img {
    width: clamp(3rem, 5vw, 5rem);
    /* 48px, 5vw, 80px */
    height: clamp(3rem, 5vw, 5rem);
    /* 48px, 5vw, 80px */
    margin-right: auto;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5.8125rem;
    /* 93px */
}

.nav-link {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1.25rem;
    /* 20px */
    transition: color 0.3s;
    display: inline-block;
}

.nav-link:hover {
    color: #f5a623;
}

/* Botão do menu de navegação */
.nav-button {
    text-decoration: none;
    color: #ffffff;
    background-color: #594b31;
    padding: 1rem;
    /* 16px */
    border-radius: 0.5rem;
    /* 8px */
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1.25rem;
    /* 20px */
    transition: background-color 0.3s, box-shadow 0.3s;
    display: inline-block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* 4px */
}

.nav-button:hover {
    background-color: #50442C;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.35);
    /* 6px */
}

#banner {
    width: 100%;
    height: auto;
    background: linear-gradient(to right,
            rgba(0, 0, 0, 0.6) 0%,
            rgba(31, 26, 17, 0.6) 16%,
            rgba(89, 75, 49, 0.6) 41%,
            rgba(31, 26, 17, 0.6) 77%,
            rgba(0, 0, 0, 0.6) 99%);

    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #ffffff;
    text-align: center;
    font-size: 2rem;
    /* 32px */
    position: relative;
}

#banner img {
    width: 47%;
    height: auto;
}

.nome-banner {
    font-family: 'Anton', sans-serif;
    font-size: clamp(1.5rem, 4vw, 3rem);
    /* 24px, 4vw, 48px */
    color: #978053;
    text-align: center;
    margin-bottom: 2rem;
    /* 32px */
}

.titulo-banner {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 700;
    font-size: clamp(2rem, 5vw, 4rem);
    /* 32px, 5vw, 64px */
    color: #ffffff;
    letter-spacing: -0.04em;
    text-align: center;
    padding: 1rem;
    /* 16px */
}

/* Descrição do banner */
#banner h3 {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: bold;
    font-size: clamp(1rem, 3vw, 2rem);
    /* 16px, 3vw, 32px */
    color: #FFFFFF;
    padding: 1rem;
    /* 16px */
    margin-bottom: 4;
    /* 64px */
}

/* Botão do banner */
.button-banner {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    /* 20px */
    text-decoration: none;
    color: #ffffff;
    background-color: #594b31;
    padding: 1.25rem 8.3125rem;
    /* 20px 133px */
    border-radius: 0.5rem;
    /* 8px */
    display: inline-block;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* 4px */
    text-align: center;
    margin-bottom: 5rem;
    /* 80px */
}

.button-banner:hover {
    background-color: #50442c;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
    /* 384px */
    margin: 1rem 6.75rem;
    /* 16px 108px */
}

.card {
    width: 288px;
    /* 460px */
    height: 252px;
    /* 400px */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    /* 256px */
    background-color: #1e1e1e;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* 4px */
    padding: 1rem;
    /* 16px */
    text-align: center;
}

.card i {
    font-size: 150px;
    /* 240px */
    color: #FFFFFF;
    margin-bottom: 0.25rem;
    /* 4px */
}

.card p {
    font-family: Roboto;
    color: #FFFFFF;
    font-size: 1.75rem;
    /* 28px */
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.highlight {
    color: #594B31;
}


.hamburguer-section-title {
    padding-top: 2.5rem;
    /* 40px */
    padding-bottom: 2.5rem;
    /* 40px */
}

.hamburger-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 1rem;
    margin: 0 6.75rem;
    align-items: center;
    justify-content: center;
}

.hamburger-card {
    width: 18.125rem;
    /* 290px */
    height: 32.875rem;
    /* 526px */
    background-color: #1e1e1e;
    border: 1px solid #594b31;
    border-radius: 1rem;
    /* 16px */
    padding: 1rem;
    /* 16px */
    display: flex;
    flex-direction: column;
    gap: auto;
    box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    /* 4px */
}

.hamburger-card-img {
    height: 12.25rem;
    /* 196px */
    width: 16.125rem;
    /* 258px */
    border-radius: 1rem;
    /* 16px */
}

.hamburguer-card-info-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.hamburger-card-name {
    text-align: center;
    flex-grow: 1;
}

.hamburger-card-desc {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 1rem;
    /* 16px */
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    flex-grow: 1;
}

.hamburger-card-button {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    /* 16px */
    text-decoration: none;
    color: #FFF;
    background-color: #594B31;
    display: flex;
    padding: 0.75rem;
    /* 12px */
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    /* 10px */
    align-self: stretch;
    border-radius: 0.5rem;
    /* 8px */
    box-shadow: 0px 0.25rem 0.25rem 0px rgba(0, 0, 0, 0.25);
    /* 4px */
    margin-top: 1.75rem;
    /* 28px */
}

.hamburger-card-button:hover {
    background-color: #50442c;
}

.hotdog-card-container {
    display: flex;
    margin: 1rem 6.75rem;
    /* 108px */
    gap: 3.25rem;
    /* 52px */
    justify-content: start;
    align-items: center;
    align-self: stretch;
}

.hotdog-section-title {
    padding-top: 2.5rem;
    /* 40px */
    padding-bottom: 2.5rem;
    /* 40px */
}

.hotdog-card {
    width: 18.125rem;
    /* 290px */
    height: 32.875rem;
    /* 526px */
    background-color: #1e1e1e;
    border: 1px solid #594b31;
    border-radius: 1rem;
    /* 16px */
    padding: 1rem;
    /* 16px */
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    /* 4px */
}

.hotdog-card-img {
    height: 12.25rem;
    /* 196px */
    width: 16.125rem;
    /* 258px */
    border-radius: 1rem;
    /* 16px */
}

.hotdog-card-info-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.hotdog-card-name {
    text-align: center;
    flex-grow: 1;
}

.hotdog-card-desc {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 1rem;
    /* 16px */
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    flex-grow: 1;
}

.hotdog-card-button {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    /* 16px */
    text-decoration: none;
    color: #FFF;
    background-color: #594B31;
    display: flex;
    padding: 0.75rem;
    /* 12px */
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    /* 10px */
    align-self: stretch;
    border-radius: 0.5rem;
    /* 8px */
    box-shadow: 0px 0.25rem 0.25rem 0px rgba(0, 0, 0, 0.25);
    /* 4px */
    margin-top: 1.75rem;
    /* 28px */
}

.hotdog-card-button:hover {
    background-color: #50442c;
}

.avaliacao-title {
    margin-top: 40px;
    margin-bottom: 40px;
}

.avaliacao-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    /* 48px*/
    padding: 2rem;
    /* 32px de espaçamento interno para o contêiner */
    flex-wrap: wrap;
}

.avaliacao-card {
    background-color: #1e1e1e;
    border: 2px solid #594B31;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.9375rem;
    /* 15px */
    padding: 2.25rem 2rem;
    /* 36px vertical e 32px horizontal */
    width: 37.5rem;
    /* 600px */
    height: 11.8125rem;
    /* 189px */
    border-radius: 1rem;
    /* 16px */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    /* Garante que nada ultrapasse os limites do card */
}

.avaliacao-card-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    /* 8px */
    width: 100%;
    /* 100% da largura do elemento pai */
}


.avaliacao-nome {

    color: #ffffff;

}

.avaliacao-text {
    color: #ffffff;
}

/* Estilo para as estrelas */
.avaliacao-stars {
    display: flex;
    gap: 1rem;
    /* 16px */
    justify-content: start;
    align-items: center;
    width: auto;
    overflow: hidden;
}

.star {
    font-size: 2rem;
    /* 32px */
}

.star-active {
    color: #594B31;
}

.star-inactive {
    color: #000000;
}

.orderbanner-container {
    display: flex;
    width: 100%;
    height: auto;
    background: linear-gradient(to right,
            rgba(0, 0, 0, 0.6) 0%,
            rgba(31, 26, 17, 0.6) 16%,
            rgba(89, 75, 49, 0.6) 41%,
            rgba(31, 26, 17, 0.6) 77%,
            rgba(0, 0, 0, 0.6) 99%);
    justify-content: center;
    align-items: center;
    gap: 11.875rem;
    padding: 1rem 6.75rem;
    flex-direction: row;
}

.orderbanner-img {
    display: flex;
    width: 7.625rem;
    height: 7.625rem;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
}

.orderbanner-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
}

.orderbanner-text-link-container {
    display: flex;
    align-items: center;
    gap: 9rem;
    align-self: stretch;
    flex-direction: row;
}

.orderbanner-title {
    padding: 0rem 10.375rem;
}

.orderbanner-link {
    display: flex;
    align-items: center;
    gap: 0.8125rem;
    text-decoration: none;
}
.orderbanner-link:hover h5 {
    color: #000000; /* Nova cor ao passar o mouse */
}

@media (max-width: 1150px) {
    .card-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        /* 16px */
        padding: 0 1rem;
        /* 16px */
        width: 100%;
        margin: 0.75rem 0;
        /* 12px */
        box-sizing: border-box;
    }

    .card i {
        font-size: 6.25rem;
        /* 100px */
    }

    .card p {
        font-size: 1.25rem;
        /* 20px */
    }

    .hotdog-card-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        gap: 1rem;
        margin: 0 6.75rem;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 850px) {
    .hamburger-card-container {
        grid-template-columns: repeat(2, 1fr);
        /* 2 cards por linha em telas pequenas */
        margin: 0 auto;
        /* Centraliza o container na página */
        justify-items: center;
        /* Centraliza os itens horizontalmente */
        align-items: center;
        /* Centraliza os itens verticalmente */
    }

    .hotdog-card-container {
        margin: auto;
        justify-content: center;
    }
}

@media (max-width: 550px) {
    #navbar {
        padding-right: 1rem;
        /* 16px */
        padding-left: 1rem;
        /* 16px */
    }

    #navbar img {
        width: 3rem;
        /* 48px */
        height: 3rem;
        /* 48px */
    }

    .nav-buttons {
        gap: 0.75rem;
        /* 12px */
    }

    .nav-link {
        font-size: 1rem;
        /* 16px */
    }

    .nav-button {
        font-size: 0.625rem;
        /* 10px */
        padding: 0.5rem;
        /* 8px */
    }

    #banner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        /* 16px */
        text-align: center;
    }

    #banner img {
        width: 100%;
        height: auto;
        margin-top: -7rem;
        /* -112px */
    }

    .nome-banner {
        font-size: 1.5rem;
        /* 24px */
    }

    .titulo-banner {
        font-size: 2rem;
        /* 32px */
    }

    #banner h3 {
        font-size: 1rem;
        /* 16px */
        margin-bottom: 1rem;
        /* 16px */
    }

    .button-banner {
        font-size: 1rem;
        /* 16px */
        border-radius: 0.5rem;
        /* 8px */
        width: 100%;
        padding-left: 0;
        /* 0px */
        padding-right: 0;
        /* 0px */
    }

    .card-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        /* 16px */
        padding: 0 1rem;
        /* 16px */
        width: 100%;
        margin: 0.75rem 0;
        /* 12px */
        box-sizing: border-box;
    }

    .card {
        width: 4.625rem;
        /* 74px */
        height: 6.25rem;
        /* 100px */
        padding: 0 0.375rem;
        /* 6px */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border-radius: 0.25rem;
        /* 4px */
        gap: 0.25rem;
        /* 4px */
        align-self: flex-start;
        box-sizing: border-box;
        flex: none;
    }

    .card i {
        font-size: 2.25rem;
        /* 36px */
    }

    .card p {
        font-size: 0.625rem;
        /* 10px */
    }

    .hamburguer-section-title {
        padding-top: 0.75rem;
        /* 12px */
        padding-bottom: 0.75rem;
        /* 12px */
        font-size: 2rem;
        /* 32px */
    }

    .hamburger-card-container {
        display: flex;
        flex-direction: column;
        margin: 1rem 2.6875rem;
        /* 43px */
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        gap: 1rem;
        /* 16px */
    }

    .hamburger-card-container2 {
        display: flex;
        flex-direction: column;
        margin: 1rem 2.6875rem;
        /* 43px */
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        gap: 1rem;
        /* 16px */
    }

    .hotdog-section-title {
        padding-top: 0.75rem;
        /* 12px */
        padding-bottom: 0.75rem;
        /* 12px */
        font-size: 2rem;
        /* 32px */
    }

    .hotdog-card-container {
        display: flex;
        flex-direction: column;
        margin: 1rem 2.6875rem;
        /* 43px */
        justify-content: center;
        align-items: center;
        align-self: stretch;
        gap: 1rem;
        /* 16px */
    }

    .avaliacao-text {
        margin-bottom: 1;
        /* Mesmo espaçamento que o nome do avaliador */
    }


}